@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .log_In_Input {
    @apply h-12 bg-[#0f1535] border-[1px] border-gray-700 outline-none focus:outline-none focus:ring focus:ring-blue-400 px-4 text-gray-400 rounded-xl placeholder:text-gray-400 placeholder:text-sm placeholder:font-semibold;
  }

  /* Change Autocomplete styles in Chrome*/
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    border: inherit inherit inherit;
    -webkit-text-fill-color: #475569;
    color: inherit;
    -webkit-box-shadow: 0 0 0px 1000px inherit inset;
    transition: background-color 5000s ease-in-out 0s;
  }

  .login_input {
    border: inherit inherit inherit;
    -webkit-text-fill-color: #fff !important;
    color: inherit;
    -webkit-box-shadow: 0 0 0px 1000px inherit inset;
    transition: background-color 5000s ease-in-out 0s;
  }

  .portal_cards {
    @apply col-span-1 h-[10rem] rounded border border-cyan-900/30 hover:border-cyan-750 hover:drop-shadow-lg transition-all
     duration-150 bg-cyan-50/60 overflow-hidden;
  }

  .navLinks {
    @apply flex items-center justify-center space-x-1 text-xs text-slate-800 font-semibold
           h-full w-full col-span-1 border-r border-r-slate-200 focus:outline-none relative;
  }

  .inventory_input {
    @apply w-full h-12 rounded border border-slate-300  
    focus:outline-none focus:border-cyan-750 focus:ring-0 text-xs text-slate-600
     placeholder:text-slate-400;
  }

  /* Zoom Range Control Styles =======================*/
  /*Range Reset*/
  .zoomRange {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
  }

  /* Removes default focus */
  .zoomRange:focus {
    outline: none;
  }

  /***** Chrome, Safari, Opera and Edge Chromium styles *****/
  /* slider track */
  .zoomRange::-webkit-slider-runnable-track {
    background-color: #fff;
    border-radius: 0.2rem;
    height: 0.2rem;
  }

  /* slider thumb */
  .zoomRange::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -6px; /* Centers thumb on the track */

    /*custom styles*/
    background-color: #2563eb;
    height: 0.85rem;
    width: 0.85rem;
    border-radius: 100%;
  }

  .zoomRange:focus::-webkit-slider-thumb {
    border: 1px solid #2563eb;
    outline: 2px solid #2563eb;
    outline-offset: 0.125rem;
  }

  /******** Firefox styles ********/
  /* slider track */
  .zoomRange::-moz-range-track {
    background-color: #fff;
    border-radius: 0.2rem;
    height: 0.2rem;
  }

  /* slider thumb */
  .zoomRange::-moz-range-thumb {
    border: none; /*Removes extra border that FF applies*/
    border-radius: 0;
    margin-top: -6px; /*Removes default border-radius that FF applies*/

    /*custom styles*/
    background-color: #2563eb;
    height: 0.85rem;
    width: 0.85rem;
    border-radius: 100%;
  }

  .zoomRange:focus::-moz-range-thumb {
    border: 1px solid #2563eb;
    outline: 3px solid #2563eb;
    outline-offset: 0.125rem;
  }
  /* End Of Zoom Range Control Styles =======================*/

  /* Reports No data Preloader ======================*/
  .preloader {
    animation: preloader ease-in-out 1.5s infinite alternate;
  }

  @keyframes preloader {
    from {
      margin-left: -40%;
    }
    to {
      margin-left: 90%;
    }
  }

  /** Alerts Animation || Toast Notification*/
  .alert {
    animation: alert ease-in-out 0.5s forwards;
  }

  .deleteExit {
    animation: deleteExit ease-in-out 0.3s forwards;
  }

  @keyframes alert {
    from {
      margin-left: 200%;
    }
    to {
      margin-left: 0;
    }
  }

  @keyframes deleteExit {
    from {
      margin-left: 0;
    }
    to {
      margin-left: 200%;
    }
  }

  /*Custom bow shadow*/
  .box-shadow-one {
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%),
      0 1px 3px 1px rgb(60 64 67 / 15%) !important;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  ::-webkit-scrollbar {
    width: 0.5vh;
  }

  ::-webkit-scrollbar-track {
    @apply bg-[#63626213] rounded-[1vh];
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply dark:bg-slate-700 bg-slate-400 rounded-[1vh];
  }

  /* Handle on hover */
  html::-webkit-scrollbar-thumb:hover {
    @apply bg-[#555];
  }

  html,
  *,
  body {
    @apply selection:bg-cyan-750 selection:text-white font-sans;
  }

  /* @font-face{
    font-family:"Inter";
    src:local("Inter"),URL(../Assets/fonts/Inter/Inter-VariableFont_slnt,wght.ttf) format(truetype);
  } */

  html,
  *,
  body {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scrollbar-color: #374151;
    scrollbar-width: none;
    font-family: 'Inter', sans-serif;
    -webkit-tap-highlight-color: transparent;
  }

  abbr[title] {
    border-bottom: none !important;
    cursor: inherit !important;
    text-decoration: none !important;
  }
  .scroll-snap {
    scroll-snap-type: y mandatory;
  }
  .snap_child {
    scroll-snap-align: center;
  }
  .snap_childTwo {
    scroll-snap-align: start end;
  }

  /* Lazy loading fallback ==============*/
  @-webkit-keyframes building-blocks {
    0%,
    20% {
      opacity: 0;
      -webkit-transform: translateY(-300%);
      transform: translateY(-300%);
    }
    30%,
    70% {
      opacity: 1;
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    90%,
    100% {
      opacity: 0;
      -webkit-transform: translateY(300%);
      transform: translateY(300%);
    }
  }
  @keyframes building-blocks {
    0%,
    20% {
      opacity: 0;
      -webkit-transform: translateY(-300%);
      transform: translateY(-300%);
    }
    30%,
    70% {
      opacity: 1;
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    90%,
    100% {
      opacity: 0;
      -webkit-transform: translateY(300%);
      transform: translateY(300%);
    }
  }
  /* fieldset Styles ==============*/
  fieldset {
    min-width: 0;
    text-overflow: ellipsis;
    max-width: 100%;
  }
  legend {
    min-width: 0;
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
